---
import Hero from "../components/Hero.astro";
import HoverCard from "../components/HoverCard.astro";
import Footer from "../components/footer.astro";
import Stats from "../components/Stats.astro";
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Button from "../components/Button.astro";
import Hovers from "../components/Hovers.astro";
---

<!-- 
 flex       - cоздаем flex контейнер 
 justify-*  - выравниваем по оси
 items-*    - выравниваем по другой оси
 gap - відстань

 -->
<Layout>
  <div class="flex flex-col gap-20 pt-[120px] lg:gap-60 lg:pt-40">
    <Hero />

    <Stats />

    <Button />

    <Hovers />

    <Footer />
  </div>
</Layout>
