---
import Hero from "../components/Hero.astro";
import HoverCard from "../components/HoverCard.astro";
import Footer from "../components/footer.astro";
import Stats from "../components/Stats.astro";
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Button from "../components/Button.astro";
import Hovers from "../components/Hovers.astro";
---

<script>
  import { animate, inView } from "motion";

  inView("#hero", () => {
    animate(
      "#hero-title",
      { opacity: 1, transform: "translateY(0)" },
      { duration: 0.7 },
    );
    animate(
      "#hero-desc",
      { opacity: 1, transform: "translateY(0)" },
      { duration: 0.7, delay: 0.1 },
    );
    animate(
      "#video",
      { opacity: 1, transform: "translateY(0)" },
      { duration: 0.7, delay: 0.2 },
    );
  });
</script>

<Layout>
  <div class="flex flex-col gap-20 pt-[120px] lg:gap-60 lg:pt-40">
    <Hero />

    <Stats />

    <Button />

    <Hovers />

    <Footer />
  </div>
</Layout>
