---
import Layout from "../layouts/Layout.astro";
import CoinFund from "../images/CoinFund.svg";
import cmc from "../images/cmc.svg";
import logo1k from "../images/1k.svg";
import coinbase from "../images/coinbase.svg";
---

<!-- 
 flex       - cоздаем flex контейнер 
 justify-*  - выравниваем по оси
 items-*    - выравниваем по другой оси
 gap - відстань

 -->
<Layout>
  <div class="flex flex-col items-center gap-20 py-20 w-full">
    <div class="text-heading font-semibold text-center">
      4 years of building <br /> user-friendly web3 products <br /> used by millions
    </div>

    <div aria-label="cards" class="flex flex-col gap-4 w-full">
      <div
        aria-label="card NFT"
        class="p-10 border border-gray-700/70 rounded-3xl"
      >
        <div class="text-card-heading">$300,000,000+</div>
        <div class="text-card-description text-gray-400">
          worth of NFTs sold through Rarible products
        </div>
      </div>

      <div class="flex gap-4">
        <div
          aria-label="card Users"
          class="p-10 border border-gray-700/70 rounded-3xl"
        >
          <div class="text-card-heading">1,000,000+</div>
          <div class="text-card-description text-gray-400">
            monthly Active Users
          </div>
        </div>

        <div
          aria-label="card Followers"
          class="p-10 border border-gray-700/70 rounded-3xl"
        >
          <div class="text-card-heading">1,000,000+</div>
          <div class="text-card-description text-gray-400">
            social media followers
          </div>
        </div>

        <div
          aria-label="card Marketplaces"
          class="p-10 border border-gray-700/70 rounded-3xl"
        >
          <div class="text-card-heading">5,000+</div>
          <div class="text-card-description text-gray-400">
            marketplaces powered by RaribleX
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-20">
      <div class="text-4xl font-semibold">Backed by</div>
      <div class="flex items-center gap-20">
        <img class="h-8" src={coinbase.src} />
        <img class="h-8" src={CoinFund.src} />
        <img class="h-8" src={logo1k.src} />
        <img class="h-20" src={cmc.src} />
      </div>
    </div>

    <div aria-label="text with button">
      <div aria-label="text" class="flex justify-center text-heading">
        Grow your business with Web3
      </div>
      <div class="my-20">
        <button
          aria-label="button"
          class="flex whitespace-nowrap gap-24 py-40 px-80 text-heading border rounded-[400px] text-black bg-yellow-300"
        >
          BECOME A SUCCESS STORY
        </button>
      </div>
    </div>
  </div>
</Layout>
