---
import Hero from "../components/Hero.astro";
import HoverCard from "../components/HoverCard.astro";
import Footer from "../components/footer.astro";
import Stats from "../components/Stats.astro";
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Button from "../components/Button.astro";
---

<!-- 
 flex       - cоздаем flex контейнер 
 justify-*  - выравниваем по оси
 items-*    - выравниваем по другой оси
 gap - відстань

 -->
<Layout>
  <div class="flex flex-col gap-20 pt-[120px] lg:gap-60 lg:pt-40">
    <Hero />

    <Stats />

    <Button />

    <div aria-label="hovers" class="flex flex-col gap-12 lg:gap-20">
      <div class="hidden text-center text-heading lg:flex">
        Web3 is where the consumer experience revolution is already happening
      </div>
      <div class="flex text-center text-heading-mobile lg:hidden">
        Web3 is where the consumer experience revolution is already happening
      </div>
      <div class="flex flex-col gap-4">
        <HoverCard
          heading="L1/L2s"
          backgroundSrc="patterns.svg"
          description="Prepare for the next stage of the Internet where NFT are as commonplace as emails."
          cards={[
            "MISSION-CRITICAL INFRASTRUCTURE FOR THE BUILDERS",
            "ORGANIC COMMUNITY GROWTH VIA NFTS",
            "COLLABS WITH WEB2/WEB3 BRANDS AND POPULAR IPS",
            "INSTANT ACCESS TO A MASSIVE CREATOR AND COLLECTOR NETWORK",
          ]}
          examples="Success Stories: Mintle Marketplace"
        />

        <HoverCard
          heading="Toys"
          backgroundSrc="pattern2.svg"
          description="Bridge the gap between traditional toy collecting and the digital age.."
          cards={[
            "UNLOCK NEW REVENUE STREAMS",
            "REACH NEW WEB3 AUDIENCE OF COLLECTORS",
            "NEW PRODUCT LINE TO RE-ENGAGE YOUR EXISTING CUSTOMERS",
          ]}
          examples="Examples: Mattel Creations, McFarlane Toys"
        />

        <HoverCard
          heading="Web3 ecosystems"
          backgroundSrc="pattern3.svg"
          description="Get a go-to platform tailored specifically to your ecosystem. No matter the scale."
          cards={[
            "CUSTOM FEATURES: UI, REWARDS PROGRAMS, NATIVE TOKEN SUPPORT AND MUCH MORE",
            "ON-BRAND EXPERIENCE FOR YOUR CUSTOMERS",
            "OPTIMAL RETENTION — NO NEED TO SEND YOUR USERS ELSEWHERE",
          ]}
          examples="Example: Mocaverse marketplace"
        />
      </div>
    </div>

    <Footer />
  </div>
</Layout>
