<!-- 
 flex       - cоздаем flex контейнер 
 justify-*  - выравниваем по оси
 items-*    - выравниваем по другой оси
 gap - відстань

 -->
<div class="flex flex-col items-center gap-4">
  <div class="bg-yellow-300 text-3xl font-bold max-w-[300px] text-center">
    4 years of building user-friendly web3 products used by millions
  </div>

  <div aria-label="cards" class="bg-blue-400">
    <div aria-label="card">
      <div>
        <div>$300,000,000+</div>
        <div>worth of NFTs sold through Rarible products</div>
      </div>
    </div>
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="bg-green-500 flex gap-1">
    <div>Backed by</div>
    <div class="*:h-6 *:w-36 *:object-scale-down flex">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Coinbase.svg/1024px-Coinbase.svg.png"
      />
      <img src="https://asset.brandfetch.io/iduNFh7dB2/idVpSt1chL.png" />
      <img src="https://1kx.network/_next/static/media/logo.2b9479b4.svg" />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Coinmarketcap_svg_logo.svg/2560px-Coinmarketcap_svg_logo.svg.png"
      />
    </div>
  </div>
</div>
