<div aria-label="textcard block" class="flex flex-col gap-12 lg:gap-20">
  <div aria-label="text" class="hidden justify-center text-heading lg:flex">
    Grow your business with Web3
  </div>
  <div
    aria-label="text"
    class="flex justify-center text-center text-heading-mobile lg:hidden"
  >
    Grow your business with Web3
  </div>

  <button
    aria-label="button"
    class="flex w-full justify-center rounded-full border bg-[rgb(255,248,0)] px-12 py-6 text-center text-small-button text-black lg:py-40 lg:text-heading"
  >
    BECOME A SUCCESS STORY
  </button>
</div>
