---
import footerLogo from "../images/footer-logo.svg";
import x from "../images/x.svg";
import instagram from "../images/instagram.svg";
import discord from "../images/discord.svg";
---

<footer>
  <div aria-label="logo">
    <img src={footerLogo.src} />
  </div>
  <div aria-label="links" class="flex justify-between pt-10">
    <div aria-label="email" class="flex flex-col gap-4">
      <div class="text-inserting">Stay in the loop</div>

      <div
        class="relative w-fit border border-[rgb(255,245,0)] rounded-lg overflow-hidden"
      >
        <input
          type="email"
          class="w-[275px] py-4 px-4 pr-32 text-black focus:outline-none"
          placeholder="Enter your email"
        />
        <button
          class="bg-[rgb(255,245,0)] py-2 px-4 text-black absolute right-0 h-full"
        >
          Subscribe
        </button>
      </div>
    </div>
    <div aria-label="end of the site" class="flex flex-col gap-20">
      <div aria-label="socials" class="flex justify-end gap-20">
        <div
          aria-label="first list"
          class="flex flex-col gap-3 text-zinc-400 *:cursor-pointer"
        >
          <div class="hover:text-yellow-300">Marketplace</div>
          <div class="hover:text-yellow-300">API</div>
          <div class="hover:text-yellow-300">RARI Foundation</div>
        </div>
        <div
          aria-label="second list"
          class="flex flex-col gap-3 text-zinc-400 *:cursor-pointer"
        >
          <div class="hover:text-yellow-300">Blog</div>
          <div class="hover:text-yellow-300">Careers</div>
          <div class="hover:text-yellow-300">Help center</div>
          <div class="hover:text-yellow-300">Brand Kit</div>
        </div>
        <div aria-label="social images" class="flex gap-8 h-fit items-center">
          <img class="w-7" src={x.src} />
          <img class="w-7" src={instagram.src} />
          <img class="w-8 translate-y-0.5" src={discord.src} />
        </div>
      </div>
      <div aria-label="copyrights" class="flex justify-between p-10">
        <div class="text-zinc-500">© 2023 Rarible, Inc.</div>
        <div class="text-zinc-500">
          Don’t like the forms? — partnerships@rarible.com
        </div>
      </div>
    </div>
  </div>
  <div></div>
</footer>
