---
import headerlogo from "../images/header-logo.svg";
---

<header class="flex justify-between p-7">
  <div>Logo</div>
  <div class="flex justify-start gap-2">
    <div class="hover:bg-gray-800 transition rounded-lg py-2 px-4">
      Solutions
    </div>
    <div class="py-2 px-4 hover:bg-gray-800 transition rounded-lg">
      Success Stories
    </div>
    <div class="py-2 px-4 hover:bg-gray-800 transition rounded-lg">News</div>
  </div>
  <div class="py-2 px-4 border border-gray-700/70 rounded-[100px]">
    LET'S TALK
  </div>
</header>
