---
import raribleLogo from "../images/header-logo.svg";
import raribleIcon from "../images/rarible-icon.svg";
---

<header>
  <div class="fixed z-50 hidden w-full justify-between p-7 lg:flex">
    <img class="h-10" src={raribleLogo.src} />
    <div
      class="flex h-fit items-center justify-start rounded-xl bg-black/20 p-0.5 backdrop-blur-xl *:cursor-pointer"
    >
      <div
        class="font-size-[16px] line-height-[1.5em] rounded-[0.625rem] px-4 py-2 transition hover:bg-white/10"
      >
        Solutions
      </div>
      <div
        class="font-size-[16px] line-height-[1.5em] rounded-[0.625rem] px-4 py-2 transition hover:bg-white/10"
      >
        Success Stories
      </div>
      <div
        class="font-size-[16px] line-height-[1.5em] rounded-[0.625rem] px-4 py-2 transition hover:bg-white/10"
      >
        Use Cases
      </div>
      <div
        class="font-size-[16px] line-height-[1.5em] rounded-[0.625rem] px-4 py-2 transition hover:bg-white/10"
      >
        Pricing
      </div>
      <div
        class="font-size-[16px] line-height-[1.5em] rounded-[0.625rem] px-4 py-2 transition hover:bg-white/10"
      >
        FAQ
      </div>
      <div
        class="font-size-[16px] line-height-[1.5em] rounded-[0.625rem] px-4 py-2 transition hover:bg-white/10"
      >
        News
      </div>
    </div>
    <button
      class="rounded-full border border-white/20 px-4 py-2 text-lg backdrop-blur-xl"
    >
      LET'S TALK
    </button>
  </div>
  <div
    class="fixed left-2 right-2 top-2 z-50 flex items-center justify-between rounded-2xl bg-black/20 p-4 backdrop-blur-xl lg:hidden"
  >
    <img class="h-10" src={raribleIcon.src} />
    <button id="button-header" class="flex flex-col gap-1">
      <div class="h-0.5 w-6 bg-white"></div>
      <div class="h-0.5 w-6 bg-white"></div>
    </button>
  </div>
</header>

<dialog
  id="header-dialog"
  class="h-full w-full bg-black/90 text-white backdrop-blur-lg"
>
  <div class="flex items-center justify-between p-6">
    <img class="h-10" src={raribleIcon.src} />
    <button id="header-close-button" class="flex flex-col gap-1">
      <div class="h-0.5 w-6 bg-white"></div>
      <div class="h-0.5 w-6 bg-white"></div>
    </button>
  </div>
  <div aria-label="burger menu" class="flex flex-col gap-4 px-5">
    <div aria-label="first list" class="flex flex-col gap-2">
      <div class="text-sm text-[rgb(250,255,0)]">Solutions</div>
      <div class="text-lg">Primary Drops</div>
      <div class="text-lg">Secondary Market</div>
    </div>
    <hr class="border-white/10" />
    <div aria-label="second list" class="flex flex-col gap-2">
      <div class="text-sm text-[rgb(250,255,0)]">Success Stories</div>
      <div class="text-lg">Mattel</div>
      <div class="text-lg">Animoca Brands</div>
      <div class="text-lg">McFarlane</div>
      <div class="text-lg">Rarible.com</div>
    </div>
    <hr class="border-white/10" />
    <div class="flex flex-col gap-2">
      <div class="text-lg">Use Cases</div>
    </div>
    <hr class="border-white/10" />
    <div class="flex flex-col gap-2">
      <div class="text-lg">Pricing</div>
    </div>
    <hr class="border-white/10" />
    <div class="flex flex-col gap-2">
      <div class="text-lg">News</div>
    </div>
    <button class="rounded-full border border-white/20 py-2 text-lg">
      LET'S TALK
    </button>
  </div>
</dialog>

<script>
  let openButton = document.querySelector("#button-header");
  let dialog = document.querySelector("#header-dialog") as HTMLDialogElement;
  let closeButton = document.querySelector("#header-close-button");
  openButton?.addEventListener("click", () => {
    dialog.showModal();
  });
  closeButton?.addEventListener("click", () => {
    dialog?.close();
  });
</script>
