---
import raribleLogo from "../images/header-logo.svg";
import raribleIcon from "../images/rarible-icon.svg";
---

<header class="justify-between p-7 fixed w-full z-50 lg:flex hidden">
  <img class="h-10" src={raribleLogo.src} />
  <div
    class="flex justify-start gap-2 backdrop-blur-xl rounded-full bg-black/20"
  >
    <div class="hover:bg-zinc-800 transition rounded-lg py-2 px-4">
      Solutions
    </div>
    <div class="py-2 px-4 hover:bg-zinc-800 transition rounded-lg">
      Success Stories
    </div>
    <div class="py-2 px-4 hover:bg-zinc-800 transition rounded-lg">News</div>
  </div>
  <div class="py-2 px-4 border border-white/20 rounded-full backdrop-blur-xl">
    LET'S TALK
  </div>
</header>
<header
  class="lg:hidden flex justify-between p-4 fixed w-full z-50 items-center bg-black/20 backdrop-blur-xl rounded-2xl"
>
  <img class="h-10" src={raribleIcon.src} />
  <div class="flex flex-col gap-1">
    <div class="bg-white h-0.5 w-6"></div>
    <div class="bg-white h-0.5 w-6"></div>
  </div>
</header>
