<!-- <header class="flex justify-between p-2">
  <div>Logo</div>
  <div class="flex justify-start gap-2">
    <div>Solutions</div>
    <div>button</div>
    <div>sun</div>
  </div>
  <div>Contact us</div>
</header> -->
