---
import arrowright from "../images/arrow-right.svg";
import Video from "../components/Video.astro";
---

<div id="hero" class="flex flex-col gap-16 lg:gap-20">
  <div
    aria-label="hero"
    class="flex flex-col items-center gap-3 lg:flex-row lg:justify-between lg:gap-0"
  >
    <h1
      id="hero-title"
      class="initial-animation-hero mx-auto text-pretty text-center text-heading-mobile font-semibold lg:text-start lg:text-heading"
    >
      <span>Launch a custom</span>
      <br />
      <span>web3 marketplace <br class="sm:hidden" /> for your brand</span>
    </h1>

    <div
      id="hero-desc"
      class="initial-animation-hero flex flex-col gap-10 lg:pl-20"
    >
      <p
        class="text-balance text-center text-lg text-zinc-400/80 lg:text-start lg:text-[22px] lg:text-white"
      >
        Helping web3 market leaders and Fortune 500 companies supercharge
        digital collectibles
      </p>
      <button
        id="hero-button"
        class="flex w-full items-center justify-between rounded-full bg-[rgb(255,248,0)] py-6 pl-10 pr-8 text-start text-xl font-semibold leading-[1.3em] text-black"
      >
        <div>CREATE MARKETPLACE</div>
        <div class="w-6 overflow-hidden">
          <div
            id="hero-arrow"
            style={{ transform: "lg:translateX(-24px)" }}
            class="flex"
          >
            <img src={arrowright.src} />
            <img src={arrowright.src} />
          </div>
        </div>
      </button>
    </div>
  </div>

  <Video />
</div>

<script>
  import { animate } from "motion";

  let button = document.querySelector("#hero-button");

  button?.addEventListener("mouseenter", () => {
    animate("#hero-arrow", { transform: "translateX(0)" });
  });
  button?.addEventListener("mouseleave", () => {
    animate("#hero-arrow", { transform: "translateX(-24px)" });
  });
</script>
