<div
  id="video"
  aria-label="video"
  class="initial-animation-hero rounded-3xl border border-gray-400 p-2"
>
  <video
    class="w-full rounded-2xl"
    autoplay
    src="https://framerusercontent.com/assets/NCW967CVkaa2MCI6IFU5Q6f8.mp4"
    loop=""
    muted=""
    playsinline=""></video>
</div>
