---
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>eksample</title>
  </head>
  <body>
    <div class="lg:p-0 p-2"><Header /></div>
    <main class="container"><slot /></main>
  </body>
</html>
<style is:global>
  html {
    @apply bg-black text-white mx-auto;
    /* background-color: black !important;
    color: white; */
  }
</style>
